.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  gap: 2rem;
  background-color: #FFFFFF;
}

.kingfisher-image {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  max-height: 400px;
  margin-top:2rem;
}

.kingfisher-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hint-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.hint-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #3B82F6;
  color: white;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
}

.hint-button:hover {
  background-color: #2563EB;
  transform: scale(1.05);
}

.color-palette {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.75rem;
  background-color: rgba(255, 255, 255, 0.8);

}

.color-swatch {
  width: 50px;
  height: 50px;
  border: 3px solid #000000;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
}

.color-swatch:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.color-swatch.selected {
  border: 4px solid #FF7700;
  box-shadow: 0 0 0 2px #000000;
  transform: scale(1.15);
}

.finish-button {
  padding: 0.75rem 2rem;
  font-size: 18px;
  font-weight: bold;
  background-color: #22C55E;
  color: white;
  border: 3px solid #000000;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
}

.finish-button:hover {
  background-color: #16A34A;
  transform: scale(1.05);
}

.hint-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.hint-modal {
  position: relative;
  background-color: white;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 10px;
  max-width: 300px;
  width: 100%;
  overflow: auto;
}

.hint-modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  /* gap: 0.5rem; */
}

.hint-modal h3 {
  margin: 0;
  font-size: 16px;
  color: #000000;
}

.hint-image {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
}

.hint-image img {
  width: 70%;
  height: auto;
  object-fit: contain;
}

.hint-close-button {
  width: 30px;
  height: 30px;
  min-width: 30px;
  border: 1px solid #000000;
  border-radius: 50%;
  background-color: #EF4444;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  padding: 0;
  line-height: 1;
}

.hint-close-button:hover {
  background-color: #DC2626;
}
