.intro-dialogue-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 100%;
  width: 100%;
  padding: 0.3rem 1rem;
  box-sizing: border-box;
  cursor: pointer;
}

.intro-dialogue-box {
  width: 95%;
  text-align: center;
  border: 3px solid #000000;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 0px 5px;
}

.character-image-right {
  position: relative;
}

.intro-dialogue-box .dialogue-text {
  font-size:  20px;
}

.character-name-box {
  width: 120px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #000000;
  align-self: flex-start;
  border-radius: 5px;
  font-size: 24px;
}

.progress-bar-container {
  width: 100%;
  height: 11px;
}

.progress-bar-container .progress-bar-fill {
  background-color: #FF7700;
  height: 100%;
  transition: all 300ms;
  border: 1px solid #000000;
}