.intro-dialogue-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 100%;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  cursor: pointer;
}

.intro-dialogue-box {
  width: 100%;
  text-align: center;
  background-color: #1656FD50;
  border: 3px solid #000000;
  margin-bottom: 10px;
  border-radius: 5px;
}

.character-image-right {
  width: 300px;
  height: auto;
  align-self: flex-end;
  top: 90px;
  position: relative;
}

.intro-dialogue-box .dialogue-text {
  font-size:  20px;
}

.character-name-box {
  text-align: center;
  background-color: #1656FD80;
  padding: 0px 10px;
  border: 3px solid #000000;
  align-self: flex-start;
  border-radius: 5px;
}

.progress-bar-container {
  width: 100%;
  height: 1rem;
}

.progress-bar-container .progress-bar-fill {
  background-color: #FF7700;
  height: 100%;
  transition: all 300ms;
}